.diary_container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  font-family: 'Jost', sans-serif;
  padding-top: 293px;
  width: 100%;
  height: calc(100vh - 293px);
  overflow-y: auto;
}

.date_container {
  display: flex;
}

.date_text {
  font-family: Verdana;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.32px;
  text-align: left;
  color: #212121;
}

.diary-form {
  max-width: 400px;
  margin: 0 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  padding: 0;
  display: flex;
  gap: 20px;
}

.diary-form-group {
  position: relative;
}

.form-label {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 14px;
  color: #9b9faa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.form-input {
  width: 100%;
  padding: 7px 0;
  row-gap: 20px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  cursor: text;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label,
.form-input:valid+.form-label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.remove-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  color: #FF0000;
}

.remove-button:hover {
  background-color: #700000;
  color: #fff;
  border-radius: 5px;
}

.diary_table-container {
  display: flex;
  margin-top: 40px;
  width: 615px;
  max-height: 300px;
  overflow-y: auto;
}

.diary_table {
  width: 100%;
  border-collapse: collapse;
}

.diary_table tr {
  border-bottom: 1px solid black;
}

.diary_table th {
  padding: 10px;
  text-align: left;
}

.diary_table td {
  padding: 10px;
}