
.ReactModal__Content {
  width: 672px;
  height: 574px;
  top: 138px;
  left: 304px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.1);
  margin-left: 300px;
  border: 1px solid rgba(224, 224, 224, 1);
  z-index: 2;
  margin-top: 100px;
  
}

.modal__container{
  display: inline-block;
  position: absolute;
  width: 672px;
  height: 574px;
  
  align-items: center;
  justify-content: center;
  
  
}

.modal__close_button {
  fill: black;
  left: 645px;
  opacity: 1;
  position: relative;
  border: none;
  background-color: white;
  width: 20px;
  height: 20px;
}

.modal__Intake {
  width: 508px;
  height: 70px;
  top: 202px;
  left: 386px;
  font-family: Verdana;
  font-size: 26px;
  font-weight: 700;
  line-height: 36.4px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  margin-left: 70px;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  color: rgba(33, 33, 33, 1);
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal_calories_container {
  width: 330px;
  height: 62px;
  top: 292px;
  left: 475px;
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
  align-items: baseline;
}

.modal__calories {
  width: 330px;
  height: 62px;
  top: 292px;
  left: 475px;
  font-family: Verdana;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.34px;
  letter-spacing: 0.04em;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 30px;
  margin-left: 250px;
  color: rgba(38, 64, 97, 1);
  display: flex;
  justify-content: center;
}

.modal__calories-units {
  font-family: Verdana;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.6px;
  letter-spacing: 0.04em;
  color: rgba(38, 64, 97, 1);
  display: flex;
  justify-content: center;
}

.modal__foods {
  width: 330px;
  height: 17px;
  margin-left: 195px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 50px;
  color: rgba(33, 33, 33, 1);
  display: flex;
}

.modal__list_foods {
  display: flexbox;
  width: 222px;
  height: 112px;
  top: 50px;
  left: 40px;
  gap: 14px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(155, 159, 170, 1);
  margin-top: 20px;
  margin-left: 195px;
}

.List__Products {
  margin-top: 20px;
}
.modal__button-start{
    width: 210px;
height: 43px;
top: 90px;
left: 220px;
padding: 13px 25px 13px 25px;
gap: 10px;
border-radius: 30px ;
opacity: 0px;
position: relative;

}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .ReactModal__Content {
    margin-left: 30px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .ReactModal__Content {
    width: 420px;
    margin-left: 0px;
    margin-top: 150px;
    border: none !important;
    box-shadow: none;
    border-radius: none;
  }

  .modal__close_button {
    fill: black;
    left: 395px;
    opacity: 1;
    position: relative;
    border: none;
    background-color: white;
    width: 20px;
    height: 20px;
  }

  .modal__Intake {
    margin-left: 0px;
    width: 280px;
    height: 50px;
    top: 10px;
    left: 20px;
    margin-left: 0px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    position: relative;
  }
  .modal_calories_container{
    width: 279px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
  }
  .modal__calories {
    width: 280px;
    height: 62px;
    top: 10px;
    left: 20px;
    margin-left: 0px;
    font-family: Verdana;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.34px;
    letter-spacing: 0.04em;
    text-align:center;
    position: relative;
  }
  .modal__foods {
    margin-left: 0px;
    width: 280px;
    height: 17px;
    top: 25px;
    left: 20px;
    position: relative;
    margin-top: 25px;
    
  }

  .modal__list_foods {
    margin-left: -20px;
    width: 280px;
    height: 112px;
    top: 50px;
    left: 40px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    text-align: left;
    position: relative;
  }
  .modal__button-start{
    width: 210px;
height: 43px;
top: 110px;
left: 100px;
padding: 13px 25px 13px 25px;
gap: 10px;
border-radius: 30px ;
opacity: 0px;
position: relative;

}
}
